<mat-toolbar color="primary">
  Reactive Forms Playground
</mat-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Sign-up Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="signup()">
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="First Name" [formControlName]="'firstName'">
          <mat-error>{{ getErrorMessage(formGroup.get('firstName')) }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" [formControlName]="'lastName'">
          <mat-error>{{ getErrorMessage(formGroup.get('lastName')) }}</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input type="email" matInput placeholder="Email" [formControlName]="'email'">
          <mat-error>{{ getErrorMessage(formGroup.get('email')) }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Username" [formControlName]="'username'">
          <mat-icon matSuffix
                    [ngClass]="{'valid': formGroup.get('username')?.valid,
                     'invalid': formGroup.get('username')?.invalid }"
                    *ngIf="formGroup.get('username')?.status !== 'PENDING' && formGroup.get('username')?.dirty"
          >{{ formGroup.get('username')?.valid ? 'check' : 'clear' }}</mat-icon>
          <mat-progress-spinner
            *ngIf="formGroup.get('username')?.status === 'PENDING' && formGroup.get('username')?.dirty"
            color="primary"
            mode="indeterminate"
            matSuffix [diameter]="18" style="float: right; margin-left: 8px">
          </mat-progress-spinner>
          <mat-error>{{ getErrorMessage(formGroup.get('username')) }}</mat-error>
        </mat-form-field>
      </div>
      <div class="row no-space">
        <mat-label>Gender *</mat-label>
        <mat-radio-group [formControlName]="'gender'">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker" [formControlName]="'dob'">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>{{ getErrorMessage(formGroup.get('dob')) }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" [formControlName]="'age'">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Password" type="password" [formControlName]="'password'">
          <mat-error>{{ getErrorMessage(formGroup.get('password')) }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm Password" type="password" [formControlName]="'confirmPassword'">
          <mat-error>{{ getErrorMessage(formGroup.get('confirmPassword')) }}</mat-error>
        </mat-form-field>
      </div>
      <div class="row flex-end">
        <button mat-stroked-button color="accent" type="reset">Reset</button>
        <button mat-stroked-button color="accent" (click)="fillForm()" type="button">Fill Form</button>
        <button mat-stroked-button color="primary" type="submit" [disabled]="!formGroup.valid || isLoading">
          <mat-icon *ngIf="isLoading">
            <mat-spinner diameter="20">
            </mat-spinner>
          </mat-icon>
          Sign Up
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
